@{
    ViewData["Title"] = "Home Page";
}

<br></br>

<div class="custom-div text-center" style="position: relative; background-image: url('https://r4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-a28152c01d26befb6a08f2c5c0f85942.jpg'); background-size: cover;">
    <h1 class="display-4">Bem vindo!</h1>
    <br></br>
    <h2 style="font-weight: 200">O PSI é um sistema desenvolvido para auxiliar no dia a dia dos alunos de sistemas de informação da UGB</h2>
    <br></br>
</div>

<br></br>

<div class="social-media-container" style="display: flex; justify-content: center;">

    <a href="https://github.com/LuisEduardoSpindola" class="custom-div-Git text-center" style="position: relative; background-image: url('https://img1.wallspic.com/previews/2/7/8/5/5/155872/155872-github-logo-azure-aqua-turquoise-x750.jpg'); background-size: cover;">
    </a>

    <a href="https://www.linkedin.com/in/luiseduardospindola/" class="custom-div-IN text-center" style="position: relative; background-image: url('https://kinsta.com/pt/wp-content/uploads/sites/3/2019/08/pagina-da-empresa-no-linkedin.png'); background-size: cover;">
    </a>

    <a href="https://dotnet.microsoft.com/pt-br/" class="custom-div-NET text-center" style="position: relative; background-image: url('https://learn.microsoft.com/pt-br/shows/on-net/media/ondotnet-titleimage.png'); background-size: cover;">
    </a>

</div>

<style>
    .custom-div {
        position: relative;
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
        padding: 50px;
        box-shadow: 0 0 20px #c89e67; /* Adicione a sombra aqui */
    }

    .social-media-container {
        margin-top: 20px;
    }

        .social-media-container a {
            flex: 1;
            text-decoration: none;
            color: inherit;
            margin-right: 10px;
            margin-left: 10px;
            position: relative;
        }

    .custom-div-Git {
        position: relative;
        width: 30%;
        height: 20vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
        padding: 50px;
        box-shadow: 0 0 10px #47d0a3; /* Adicione a sombra aqui */
    }

    .custom-div-IN {
        position: relative;
        width: 30%;
        height: 20vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
        padding: 50px;
        box-shadow: 0 0 10px #98c6f9; /* Adicione a sombra aqui */
    }


    .custom-div-NET {
        position: relative;
        width: 30%;
        height: 20vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
        padding: 50px;
        box-shadow: 0 0 10px #843b8e; /* Adicione a sombra aqui */
    }
</style>
